@page "/AddCheckList"
@using BlazorTestProject.Repositories
@using BlazorTestProject.Entities
@using CheckListLibrary.Interfaces
@inject IGenericRepository<CheckList> CheckListRepository

<h3>AddCheckList</h3>
<span>CheckList Name</span>
<input @bind="CheckListName" type="text">
<button @onclick="CreateCheckList">Create Checklist</button>

@code {

    public string CheckListName { get; set; }
    
    public void CreateCheckList()
    {
        CheckListRepository.Add(new CheckList
        {
            Id = new Guid(),
            CheckListName = CheckListName
        });
        CheckListRepository.Complete();
    }
}