@page "/AddChecklistEntry"
@using System.ComponentModel.DataAnnotations
@using BlazorTestProject.Entities
@using BlazorTestProject.Repositories
@using CheckListLibrary.Interfaces
@inject IGenericRepository<Entities.Entry> Repository

@*<EditForm Model="EntryText" OnValidSubmit="SubmitForm">
    <span>Entry</span>
    <br/>
    <input type="text" @bind="EntryText"/>
    <br/>
    <button style="margin-top: 20px;" type="submit">Add Entry</button>
</EditForm>*@

<h4>AddChecklistEntry</h4>

<tr style="border: none">
    <td style="border: none">EntryText</td>
    <td style="border: none"><input type="text" @bind-value="EntryText" /></td>
    <td style="border: none"><button type="button" @onclick="@SubmitForm">Add Entry</button></td>
</tr>

@code {

    [Parameter] 
    public Guid CheckListId { get; set; }
    
    
    public string EntryText = "";

    [Parameter]
    public EventCallback EntryAdded { get; set; }

    void SubmitForm()
    {
        Repository.Add(new Entry
        {
            Id =  new Guid(),
            EntryText = EntryText,
            IsDone = false,
            CheckListId = CheckListId
        });
        Repository.Complete();
        this.EntryAdded.InvokeAsync(null);
    }
}